version: '3.8'

services:
  web: 
    build:
      context: ./djangobnb_backend #this is the path to the dockerfile
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./djangobnb_backend:/usr/src/djangobnb_backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env.dev  #flow: the docker container reads from the .env_dev file then the settings.py doesn't read from the .env.dev but from what's in this line which is put into this service
    depends_on:
      - db

  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: djangobnb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
